<ons-page id="demon">
    <div style="text-align: center; font-size: 30px; color: #fff;">
        <img class="image2" src="image/demon2.jpg" alt="" id="demon">
    </div>
    <div class="center">
        <span class="list-item__title bold">Demon slayer Mugen Train (2020)</span>
        <span class="list-item__subtitle">
            Tanjiro Kamado and his friends from the Demon Slayer corps accompany Kyōjurō Rengoku, the Flame Hashira,
             to investigate a mysterious series of disappearances occurring inside a train. Little do they know that Enmu,
              one of the Twelve Kizuki, is also on board and has prepared a trap for them.</span>
        <span class="list-item__subtitle bold">Ratings</span>
        <span class="list-item__subtitle bold">
            <div class="icon-center">
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
                <ons-icon class="icon" icon="md-star-outline">
                </ons-icon>
            </div>
        </span>
    </div>
</ons-page>