<ons-page id="fivecen">
    <div style="text-align: center; font-size: 30px; color: #fff;">
        <img class="image2" src="image/fivecen2.jpg" alt="" id="demon">
    </div>
    <div class="center">
        <span class="list-item__title bold">5 Centimeter Per Second(2007)</span>
        <span class="list-item__subtitle">A tale of two people, Tono Takaki and Shinohara Akari, who were close friends but gradually grow farther and farther apart as time moves on. 
            They become separated because of their families yet continue to exchange contact in the form of letters.</span>
        <span class="list-item__subtitle bold">Ratings</span>
        <span class="list-item__subtitle bold">
            <div class="icon-center">
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
                <ons-icon class="icon" icon="md-star-half">
                </ons-icon>
            </div>
        </span>
    </div>
</ons-page>