<ons-page id="yourname">
    <div style="text-align: center; font-size: 30px; color: #fff;">
        <img class="image2" src="image/yourname2.jpg" alt="" id="demon">
    </div>
    <div class="center">
        <span class="list-item__title bold">Your Name(2016)</span>
        <span class="list-item__subtitle"> Mitsuha Miyamizu is a high school girl living in the town of Itomori near Hida. She is bored with abnormal life and wishes to be a handsome Tokyo boy in her next life. 
            Mitsuha causes Taki to develop a relationship with his coworker Miki, while Taki causes Mitsuha to become popular in school.</span>
        <span class="list-item__subtitle bold">Ratings</span>
        <span class="list-item__subtitle bold">
            <div class="icon-center">
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
                <ons-icon class="icon" icon="md-star">
                </ons-icon>
            </div>
        </span>
    </div>
</ons-page>