<ons-page id="search">
    <ons-navigator swipeable id="myNavigator2" page="page2.html"></ons-navigator>
    <template id="page2.html"> 
        <ons-page id="Search">
        <p style="text-align: center; margin-top: 10px;">
            <ons-search-input placeholder="Search" onchange="ons.notification.alert('Searched for: ' + this.value)">
            </ons-search-input>
        </p>

       
            <ons-list-item>
                <div class="left">
                    <img class="list-item__thumbnail img-search" src="image/demon.jpg">
                </div>
                <div class="center">
                    <span class="list-item__title bold">Demon slayer Mugen Train (2020)</span>
                    <span class="list-item__subtitle">
                        Tanjiro Kamado and his friends from the Demon Slayer corps accompany Kyōjurō Rengoku, the Flame
                        Hashira,
                        to investigate a mysterious series of disappearances occurring inside a train. Little do they
                        know that Enmu,
                        one of the Twelve Kizuki, is also on board and has prepared a trap for them.</span>
                    <span class="list-item__subtitle bold">Ratings</span>
                    <span class="list-item__subtitle bold">
                        <div class="icon-center">
                            <ons-icon class="icon" icon="md-star">
                            </ons-icon>
                            <ons-icon class="icon" icon="md-star">
                            </ons-icon>
                            <ons-icon class="icon" icon="md-star">
                            </ons-icon>
                            <ons-icon class="icon" icon="md-star">
                            </ons-icon>
                            <ons-icon class="icon" icon="md-star-outline">
                            </ons-icon>
                        </div>
                    </span>
                </div>
            </ons-list-item>

            <ons-list-item>
                <div class="left">
                    <img class="list-item__thumbnail img-search" src="image/fivecen.jpg">
                </div>
                <div class="center">
                    <span class="list-item__title bold">5 Centimeter Per Second(2007)</span>
                    <span class="list-item__subtitle">A tale of two people, Tono Takaki and Shinohara Akari, who were
                        close friends but gradually grow farther and farther apart as time moves on.
                        They become separated because of their families yet continue to exchange contact in the form of
                        letters.</span>
                    <span class="list-item__subtitle bold">Ratings</span>
                    <span class="list-item__subtitle bold">
                        <div class="icon-center">
                            <ons-icon class="icon" icon="md-star">
                            </ons-icon>
                            <ons-icon class="icon" icon="md-star">
                            </ons-icon>
                            <ons-icon class="icon" icon="md-star">
                            </ons-icon>
                            <ons-icon class="icon" icon="md-star">
                            </ons-icon>
                            <ons-icon class="icon" icon="md-star-half">
                            </ons-icon>
                        </div>
                    </span>
                </div>
            </ons-list-item>

            <ons-list-item>
                <div class="left">
                    <img class="list-item__thumbnail img-search" src="image/yourname.jpg">
                </div>
                <div class="center">
                    <span class="list-item__title bold">Your Name(2016)</span>
                    <span class="list-item__subtitle"> Mitsuha Miyamizu is a high school girl living in the town of
                        Itomori near Hida. She is bored with abnormal life and wishes to be a handsome Tokyo boy in her
                        next life.
                        Mitsuha causes Taki to develop a relationship with his coworker Miki, while Taki causes Mitsuha
                        to become popular in school.</span>
                    <span class="list-item__subtitle bold">Ratings</span>
                    <span class="list-item__subtitle bold">
                        <div class="icon-center">
                            <ons-icon class="icon" icon="md-star">
                            </ons-icon>
                            <ons-icon class="icon" icon="md-star">
                            </ons-icon>
                            <ons-icon class="icon" icon="md-star">
                            </ons-icon>
                            <ons-icon class="icon" icon="md-star">
                            </ons-icon>
                            <ons-icon class="icon" icon="md-star">
                            </ons-icon>
                        </div>
                    </span>
                </div>
            </ons-list-item>
        </ons-page>
    </template>
</ons-page>